@import "~bootstrap/scss/bootstrap";

.personal_logo {
    height: 60px;
}

.personal_img_sm {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.ms_img_wrapper {
    width: 200px;
    height: 200px;

    .personal_img_lg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ms_checkbox:nth-child(even) {
    background: #f3f3f3;
}
